.profile {
  margin: 0;
  padding: 74px 0 70px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 1279px) {
  .profile {
    padding: 236px 0 269px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 70px 0 40px;
  }
}

.profile__title {
  margin: 0;
  padding: 0;
  width: 410px;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.profile__form-wrap {
  margin: 0;
  padding: 0;
  padding-top: 106px;
  width: 410px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.profile__form {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile__input-wrap {
  margin: 0;
  padding: 0;
  /* padding: 17px 0; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: solid 1px rgba(232, 232, 232, 1);
}

.profile__input-wrap:focus-within {
  border-bottom: 1px solid #3456F3;
}


.profile__label {
  margin: 0;
  padding: 17px 0;
  /* padding: 0; */
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.profile__input {
  margin: 0;
  /* padding: 10px 0; */
  padding: 0;
  margin-left: 10px;
  width: 85%;
  box-sizing: border-box;
  border: none;

  color: #000;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.profile__input:focus {
  outline: none;
  font-weight: 500;
}

.profile__input:invalid {
  color: #FF3055;
}

.profile__input:-webkit-autofill,
.profile__input:-webkit-autofill:hover,
.profile__input:-webkit-autofill:focus,
.profile__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #FFF inset !important;
  -webkit-text-fill-color: #000 !important;
}



.profile__buttons-group {
  margin: 0;
  margin-top: auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__btn {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  font-size: 13px;
  line-height: normal;
  background: transparent;
  border-radius: 3px;
  border: none;
}

.profile__btn:hover {
  cursor: pointer;
  opacity: 70%;
}

@media screen and (max-width: 767px) {
  .profile__btn {
    font-size: 12px;
  }
}

.profile__btn_hidden {
  display: none;
}

.profile__btn_save {
  width: 100%;
  padding: 13px 0 15px;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  background: #3456F3;
}

.profile__btn_disabled {
  color: #C2C2C2;
  background: #F8F8F8;
  cursor: auto;
}

.profile__btn_disabled:hover {
  cursor: auto;
  opacity: 1;
}

.profile__btn_logout {
  margin: 16px 0 0 0;
  color: #FF3055;
  font-weight: 500;
}

.profile__input-error {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  height: 17px;
  box-sizing: border-box;
  color: #FF3055;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.profile__submit-error {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  box-sizing: border-box;
  color: #FF004C;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}