@font-face {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../vendor/fonts/Inter-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../../vendor/fonts/Inter-Medium.woff2) format("woff2");
}

.header {
  background: #FFF;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  width: 100%;
  box-sizing: border-box;
  height: 74px;
  /* padding: 0 70px; */
  padding: 0 calc((100vw - 1280px) / 2 + 70px);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_dark {
  background: #073042;
}

.logo {
  width: 38px;
  height: 38px;
}

.header__nav {
  display: inline;
}

.header__nav_hidden {
  display: none;
}

.header__nav-list {
  padding: 0px;
  margin: 0;
}

.header__nav-item {
  display: inline;
  list-style-type: none;
  padding: 0px 7px;
  margin: 0;
}

.header__nav-link {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

.header__nav-link_dark {
  color: #FFF;
}

.header__account-btn {
  background: #FFF;
  color: #000;
  padding: 3px 3px 3px 10px;
  margin: 0;
  box-sizing: border-box;
  width: 100px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.header__account-btn_dark {
  background: #2BE080;
  box-shadow: 0px 0px 0px 0px;
}

.header__account-btn_hidden {
  display: none;
}

.header__account-txt {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}

.header__menu {
  width: 28px;
  height: 23px;
  margin: 0;
  padding: 11px 8px;
  background-image: url(../../images/icon_menu.svg);
  background-color: transparent;
  border: 0px;
  display: inline;
}

.header__menu_dark {
  background-image: url(../../images/icon_menu_dark.svg);
}

.header__menu_hidden {
  display: none;
}

.header__auth {
  display: flex;
  align-items: center;
}

.header__auth_hidden {
  display: none;
}

.header__signup {
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  padding-right: 30px;
}

.header__signin {
  color: #000;
  background: #2BE080;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  border: none;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 0 38px 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 23px 0 14px;
  }
}

@media screen and (max-width: 1280px) {
  .header__account-btn {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .header__nav-list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    width: 22px;
    height: 21px;
  }
}

@media screen and (min-width: 1280px) {
  .header__menu {
    display: none;
  }
}
