.banner {
  margin: 0;
  padding: 75px calc((100vw - 1280px) / 2 + 70px);
  width: 100%;
  box-sizing: border-box;
  background: #073042;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .banner {
    padding: 140px 44px 76px ;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    padding: 70px 10px 30px ;
  }
}

.banner__main-wrap {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .banner__main-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.banner__txt-wrap {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .banner__txt-wrap  {
    align-items: center;
  }
}

.banner__title {
  margin: 0;
  padding: 0;
  max-width: 640px;
  color: #FFF;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 116%;
  font-feature-settings: 'clig' off, 'liga' off;
}

@media screen and (max-width: 1279px) {
  .banner__title {
    padding-top: 49px;
    font-size: 40px;
    line-height: 1.25;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .banner__title {
    padding-top: 44px;
    max-width: 500px;
    font-size: 30px;
    line-height: 1.27;
    letter-spacing: -1.2px;
  }
}

.banner__subtitle {
  margin: 0;
  padding: 36px 0 0 0;
  width: 310px;
  padding-top: 36px;
  opacity: 0.5;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1279px) {
  .banner__subtitle {
    padding-top: 22px;
    width: 260px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .banner__subtitle {
    padding-top: 24px;
  }
}

.banner__img {
  margin: 0;
  padding: 0;
  width: 310px;
  height: 304px;
}

@media screen and (max-width: 1279px) {
  .banner__img {
    order: -1;
  }
}

@media screen and (max-width: 767px) {
  .banner__img {
    width: 210px;
    height: 206px;
  }
}

.banner__btn-wrap {
  margin: 0;
  padding: 84px 0 0 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .banner__btn-wrap {
    padding: 92px 0 0 0;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .banner__btn-wrap {
    padding: 80px 0 0 0;
  }
}

.banner__more-btn {
  margin: 0;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;

  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
}

.banner__more-btn:hover {
  cursor: pointer;
  opacity: 70%;
}

.banner__more-btn-link {
  color: #FFF;
  text-decoration: none;
}

