.auth {
  margin: 0 auto;
  padding: 70px 0;
  width: 100%;
  max-width: 396px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 1279px) {
  .auth {
    padding: 232px 0;
  }
}

@media screen and (max-width: 767px) {
  .auth {
    padding: 56px 30px 30px;
  }
}

/* ========== секция шапки ========== */
.auth__top {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .auth__top {
    text-align: center;
  }
}

.auth__logo {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
}

.auth__heading {
  margin: 0;
  padding: 37px 0 0;
  box-sizing: border-box;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width:767px) {
  .auth__heading {
    padding: 47px 0 0;
    text-align: center;
    font-size: 24px;
  }
}

/* ========== блок формы ========== */
.auth__form {
  margin: 0;
  height: 100%;
  padding: 33px 0 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:767px) {
  .auth__form {
    padding: 56px 0 0 0;
  }
}

.auth__input-label {
  margin: 0;
  padding: 7px 0 0;
  box-sizing: border-box;
  color: #A0A0A0;
  font-size: 10px;
  line-height: normal;
}

.auth__input {
  margin: 0;
  padding: 5px 0 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.auth__input:invalid {
  color: #FF3055;
}

.auth__input:-webkit-autofill,
.auth__input:-webkit-autofill:hover,
.auth__input:-webkit-autofill:focus,
.auth__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #FFF inset !important;
  -webkit-text-fill-color: #000 !important;
}

.auth__input:focus-visible {
  outline: none;
  border-bottom: 1px solid #3456F3;
  font-weight: 500;
}


.auth__buttons-group {
  margin: 0;
  margin-top: auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ========== кнопка ========== */
.auth__button {
  width: 100%;
  margin-top: auto;
  padding: 13px 0 15px;
  box-sizing: border-box;
  color: #FFF;
  background-color: #3456F3;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 767px) {
  .auth__button {
    padding: 15px 0 15px;
    font-size: 12px;
  }
}

.auth__button:hover {
  cursor: pointer;
  opacity: 80%;
}

.auth__secondary-action-txt {
  margin: 0;
  padding: 16px 0 0 0;
  color: #A0A0A0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: normal;
}

@media screen and (max-width: 767px) {
  .auth__secondary-action-txt {
    font-size: 12px;
  }
}

.auth__secondary-action-link {
  margin: 0 0 0 6px;
  padding: 0;
  box-sizing: border-box;
  color: #3456F3;
}

.auth__secondary-action-link:hover {
  cursor: pointer;
  opacity: 70%;
}

.auth__input-error {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  height: 17px;
  box-sizing: border-box;
  color: #FF3055;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.auth__submit-error {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  box-sizing: border-box;
  color: #FF004C;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth__submit-success {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  box-sizing: border-box;
  color: #000;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}