/* @import url(./vendor/normalize.css); */
@import url(./vendor/normalize.css);
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./vendor/fonts/Inter-Regular.woff2) format("woff2");
}


#root {
  background-color: gray;
  height: 100vh;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
}
